/*PRODUCTOS*/
.fondo {
    font-family: 'Roboto', sans-serif;
    background-color: #efefef;

}

.precio {
    text-align: left;
    font-size: smaller;
    font-size: large;
    color: cadetblue;
}

.tienda {
    text-align: center;
    font-size: 1.9rem;
    color: #525252;
}

.tituloProduct {
    text-align: center;
    font-size: 1.3rem;
    color: #525252;
}

.tituloVista {
    text-align: center;
    font-size: 1.9rem;
    color: #525252;
}

.tituloDescripcion {
    text-align: left;
    font-size: 1.3rem;
    color: #525252;
}

.tituloCarrito {
    text-align: left;
    font-size: 1rem;
    color: #525252;
}

.totalCarrito {
    text-align: end;
    color: cadetblue;
}



.cuadroProducto {
    margin-top: 5%;
    border: none;
    padding: 2%;
    margin-bottom: 5%;
    border-radius: 2%;
    /*background-color: white;*/
}

.imgProducto {
    width: 100%;

}

.caja-descripcion {

    color: #393e46;
    margin-bottom: 2%;


}


.btn-carga {
    color: white;
    border: 1px solid transparent;
    background-color: #00adb5;
}

.card-title {
    line-height: 1.33;
    letter-spacing: normal;
    margin: 0 0 16px;
    height: 50px;

}

h5.card-title {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.card-body p {
    font-size: smaller;
    color: grey;
}




h6.card-subtitle {
    font-size: large;
    color: grey;
    padding-bottom: 2%;
}

.card-precios p {
    padding: 1%
}

/*Descripcion producto*/
h6.subtitulo {
    color: #808080;
}

h3.precio.mb-2 {
    color: #00adb5;
}

.datos-celulares {
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid grey;
}



/* LOGIN */
.inicio-sesion {
    text-align: left;
    padding: 4%;
}

.titulo {
    font-size: medium;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 5%;
}

.formulario-body {
    /*border:1px solid #393e46;
    border-radius: 20px 20px 20px 20px;*/
    padding: 3%;

}

.otras-cuentas a {
    text-decoration: none;
}

.registrarse {
    text-decoration: none;
}

.olvidarse {
    text-decoration: none;
    font: small;
    font-weight: 400;
    text-align: center;

}

.boton-ingresar {
    width: 100%;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    background-color: #00adb5;
    border-radius: 6px;
    border: 2px solid #00adb5;
    margin-bottom: 10px;
    margin-top: 10px;
}

.boton-google {
    width: 49%;
    text-decoration: none;
    padding: 5px;
    font-weight: 200;
    font-size: 15px;
    color: black;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #00adb5;
    float: left;
}

.boton-facebook {
    width: 49%;
    text-decoration: none;
    padding: 5px;
    font-weight: 200;
    font-size: 15px;
    color: black;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #00adb5;
    float: right
}


/* CARRITO */
th,
td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 15%;
    min-width: 10%;
}

.vacio {
    padding: 10px;
    background-color: rgb(190, 190, 190);
    text-align: center;
    border-radius: 10px;
    color: white;
}

.borrar-producto {
    text-decoration: none;
    background-color: black;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}




/* BARRA DE NAVEGACION */
.navbar-nav .dropdown-menu {
    border: none;
    text-align: center;
    position: static;
    float: none;

}

/* CARROUSEL */

.carousel-inner img {
    width: 100vh;
    max-height: 80vh;
}

.cotizacion-detalle button {
    position: relative;
    margin-left: auto;
    display: block;
    margin-right: auto
}

.img-cart {
    position: relative;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.zoom {
    /* Aumentamos la anchura y altura durante 2 segundos */
    transition: width 2s, height 2s, transform 2s;
    -moz-transition: width 2s, height 2s, -moz-transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s, -o-transform 2s;
}

.zoom:hover {
    /* tranformamos el elemento al pasar el mouse por encima al doble de
           su tamaño con scale(2). */
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    /* Firefox */
    -webkit-transform: scale(1.5);
    /* Chrome - Safari */
    -o-transform: scale(1.5);
    /* Opera */
}

.validacionLogin {
    color: red;
    background-color: whitesmoke;
    text-align: center;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.marketing {
    margin-top: 8%;
}

.redes-flotantes {
    position: fixed;
    right: 8px;
    top: 75%;
    z-index: 20;
}

.redes-flotantes img {
    float: right;
    clear: right;
    margin: 5px;
    -moz-transform: scale(.8);
    -webkit-transform: scale(.8);
    -o-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.redes-flotantes img:hover {
    -moz-transform: scale(1.1) rotate(6deg);
    -webkit-transform: scale(1.1) rotate(6deg);
    -o-transform: scale(1.1) rotate(6deg);
    -ms-transform: scale(1.1) rotate(6deg);
    transform: scale(1.1) rotate(6deg);
}

.newsletter {
    padding: 80px 0;
    background: #f2f2f2;
}

.newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.newsletter .content h2 {
    color: #243c4f;
    margin-bottom: 40px;
}

.newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius: 0;
}

.newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
}

.newsletter .content .btn {
    min-height: 50px;
    border-radius: 0;
    background: #243c4f;
    color: #fff;
    font-weight: 600;
}

.col_white_amrc {
    color: #FFF;
}

footer {
    width: 100%;
    background-color: #263238;
    min-height: 250px;
    padding: 10px 0px 25px 0px;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
    color: #CCC;
}

.footer_ul_amrc li a:hover {
    color: #fff;
    text-decoration: none;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_ul2_amrc li p {
    display: table;
}

.footer_ul2_amrc li a:hover {
    text-decoration: none;
}

.footer_ul2_amrc li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.foote_bottom_ul_amrc li {
    display: inline;
}

.foote_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px;
}

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #CCC;
    border: 1px solid #CCC;
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}

@media (max-width: 767px) {
    ul.list-inline {
        justify-content: center;
        display: flex;
    }


    .cuadroProducto {
        margin-top: 2%;
        /*border: 1px solid white;*/
        padding: 2%;
        margin-bottom: 2%;
        /*background-color: white;*/
        border-radius: 2%;
    }
}