<div class='redes-flotantes'>
    <div class="separator" style="clear: both; text-align: left;">
        <a href="http://wa.me/5493516799103" style="clear: left; float: left; margin-bottom: 1em; margin-right: 1em;"
            target="_blank"><img data-original-height="39" data-original-width="39"
                src="https://1.bp.blogspot.com/-q3Dot9N2qac/XOQgr9etVpI/AAAAAAABT1M/6V4Bqaqr-6UQcl9Fy2_CaVgex0N_OYuQgCLcBGAs/s1600/whatsapp%2Bicono.png" /></a>
    </div>
    <div class="separator" style="clear: both; text-align: center;">
        <a href="https://m.me/famagra" style="clear: left; float: left; margin-bottom: 1em; margin-right: 1em;"
            target="_blank"><img data-original-height="59" data-original-width="59"
                src="https://3.bp.blogspot.com/-SK4W7Kmjoh8/XOQj5wjwERI/AAAAAAABT1g/2i3wxgGTwdU8v67F1rMOAe3ooWu9f2fEACLcBGAs/s1600/facebook%2Bmessenger%2Bicono.png" /></a>
    </div>
</div>