<div class="container text-center mt-4 mb-4">
    <br>
    <h5 style="margin-bottom: 3%; text-transform: uppercase">Probá Nuestros Servicios</h5>
    <h5 style="margin-bottom: 10%">Buscamos tu equipo, lo reparamos al instante y llevamos sin moverte de tu
        casa
    </h5>
    <div class="row">
        <div class="col-md-3">
            <img src="/images/home/iconos/icono4.png" alt="">
            <h6 style="margin-bottom: 4%">¿Movil dañado?</h6>
            <span>
                <p>Reparamos tu móvil de manera rápida hoy mismo, sin cita previa, con garantía SELLADA!.
                </p>
            </span>
        </div>

        <div class="col-md-3">
            <img src="/images/home/iconos/icono5.png" alt="">
            <h6>Retiro en Domicilio</h6>
            <span>
                <p>Recogemos tu móvil en toda la Ciudad de cordoba y lo traemos a
                    nuestro taller para repararlo.</p>
            </span>
        </div>

        <div class="col-md-3">
            <img src="/images/home/iconos/icono6.png" alt="">
            <h6>Reparacion</h6>
            <span>
                <p>En nuestro taller examinaremos tu teléfono y lo repararemos al instante!.</p>
            </span>
        </div>

        <div class="col-md-3">
            <img src="/images/home/iconos/icono7.png" alt="">
            <h6>Entrega en Domicilio</h6>
            <span>
                <p>Una vez reparado te lo entregamos en la Ciudad de Cordoba en el mismo día y Resto de la
                    provincia 48-72 horas en la dirección indicada</p>
            </span>
        </div>

    </div>
</div>