<div class="container text-center mt-4 mb-4">


    <div class="row">
        <div class="col-md-4 mb-4">
            <b>
                <p>Trabajamos con Mercado Pago</p>
            </b>
            <img src="/images/home/iconos/payment.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-4 mb-4">
            <b>
                <p>Envíos Gratis desde $2.500</p>
            </b>
            <img src="/images/home/iconos/shipping.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-4 mb-4">
            <b>
                <p>Sitio Seguro</p>
            </b>
            <img src="/images/home/iconos/protected.svg" class="img-fluid" alt="">
        </div>
    </div>
</div>